<ActionBar title="About Us" class="action-bar">
        <NavigationButton text="Menu" icon="res://ic_drawer" (tap)="openDrawer()"></NavigationButton>
</ActionBar>
<RadSideDrawer #drawerComponent tkToggleNavButton showOverNavigation="true">
    <ScrollView tkDrawerContent class="sidedrawer-left">
        <StackLayout horizontalAlign="left">
            <drawer-content></drawer-content>
        </StackLayout>
    </ScrollView>
    <ScrollView orientation="vertical" tkMainContent class="page">
        <GridLayout class="m-5" rows="auto auto">
            <StackLayout row="0">
                <StackLayout class="p-10 border">
                    <GridLayout rows="auto *" columns="*">
                        <Label row="0" col="0" text="Our History" class="h2"></Label>
                        <Label row="1" col="0" text="Started in 2010, Ristorante con Fusion quickly established itself as a culinary icon par excellence in Hong Kong. With its unique brand of world fusion cuisine that can be found nowhere else, it enjoys patronage from the A-list clientele in Hong Kong.  Featuring four of the best three-star Michelin chefs in the world, you never know what will arrive on your plate the next time you visit us.
The restaurant traces its humble beginnings to The Frying Pan, a successful chain started by our CEO, Mr. Peter Pan, that featured for the first time the world's best cuisines in a pan."
                            textWrap="true" class="body" verticalAlignment="top"></Label>
                    </GridLayout>

                </StackLayout>
            </StackLayout>

            <StackLayout row="1">
                <ScrollView>
                    <ListView [items]="leaders" class="list-group" *ngIf="leaders">
                        <ng-template let-leader="item">
                            <StackLayout orientation="horizontal" class="list-group-item">
                                <Image row="0" col="0" rowSpan="2" height="50" width="50" [src]="BaseURL + leader.image" class=" thumb img-circle"></Image>
                                <GridLayout class="list-group-item" rows="auto auto auto">
                                    <Label row="0" col="0" [text]="leader.name" class="list-group-item-heading"></Label>
                                    <Label row="1" col="0" [text]="leader.designation" class="list-group-item-text" textWrap="true"></Label>
                                    <Label row="2" col="0" class="list-group-item-text" [text]="leader.description" textWrap="true"></Label>
                                </GridLayout>
                            </StackLayout>
                        </ng-template>
                    </ListView>
                </ScrollView>
                <ActivityIndicator busy="true" *ngIf="!(leaders || leaderErrMess)" width="50" height="50" class="activity-indicator"></ActivityIndicator>
                <Label *ngIf="leaderErrMess" [text]="'Error: ' + leaderErrMess"></Label>
            </StackLayout>
        </GridLayout>
    </ScrollView>
</RadSideDrawer>