<div class="container" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign.gt-md="space-around center"
  fxLayoutGap="10px" fxLayoutGap.xs="0">

  <div fxFlex="40">
    <div fxFlex *ngIf="dish">
      <md-card>
        <md-card-header>
          <md-card-title>
            <h3>{{dish.name | uppercase}}</h3>
          </md-card-title>
        </md-card-header>
        <img md-card-image src={{dish.image}} alt={{dish.name}}>
        <md-card-content>
          <p>{{dish.description}}
          </p>
        </md-card-content>
        <md-card-actions>
          <button md-button>LIKE</button>
          <button md-button>SHARE</button>
        </md-card-actions>
      </md-card>
    </div>
  </div>

  <div fxFlex="40" fxFlexAlign="start">
    <div class="container" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign.gt-md="space-around start"
      fxLayoutGap="10px" fxLayoutGap.xs="0">
      <div fxFlex *ngIf="dish">
        <div>
          <h3>Comments</h3>
        </div>
      </div>
    </div>

    <div class="container" fxLayout="row" fxLayout.sm="column" fxLayout.xs="column" fxLayoutAlign.gt-md="space-around start"
      fxLayoutGap="10px" fxLayoutGap.xs="0">
      <div fxFlex>
        <md-list fxFlex *ngIf="dish">
          <md-list-item *ngFor="let comment of dish.comments">
            <p md-line>
              <span> {{comment.comment}} </span>
            </p>
            <h4 md-line> {{comment.rating}} Stars</h4>
            <p md-line>-- {{comment.author}} {{comment.date | date:'mediumDate'}}</p>
          </md-list-item>
        </md-list>
      </div>
    </div>

  </div>

</div>